<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640396427112-kg86a3ej9m84n0obap264g6thl2222vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640396427112-kg86a3ej9m84n0obap264g6thl2222vj</string>
	<key>API_KEY</key>
	<string>AIzaSyBD_NFIiHbibB9KHr8n44DAw0UEJ7sfl7s</string>
	<key>GCM_SENDER_ID</key>
	<string>640396427112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wifindit.wifindit</string>
	<key>PROJECT_ID</key>
	<string>wifindit1</string>
	<key>STORAGE_BUCKET</key>
	<string>wifindit1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640396427112:ios:6596ac21b4a289855e20dd</string>
	<key>DATABASE_URL</key>
	<string>https://wifindit1.firebaseio.com</string>
</dict>
</plist>