<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="NativeSettings">
    <param name="ios-package" value="NativeSettings"/>
  </feature>

  <feature name="ActionSheet">
    <param name="ios-package" value="ActionSheet"/>
  </feature>

  <feature name="BackgroundMode">
    <param name="ios-package" value="APPBackgroundMode" onload="true"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Camera">
    <param name="ios-package" value="CDVCamera"/>
  </feature>

  <feature name="Contacts">
    <param name="ios-package" value="CDVContacts"/>
  </feature>

  <feature name="Device">
    <param name="ios-package" value="CDVDevice"/>
  </feature>

  <feature name="Notification">
    <param name="ios-package" value="CDVNotification"/>
  </feature>

  <feature name="Fingerprint">
    <param name="ios-package" value="Fingerprint"/>
  </feature>

  <feature name="FirebasePlugin">
    <param name="ios-package" value="FirebasePlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="Geolocation">
    <param name="ios-package" value="CDVLocation"/>
  </feature>

  <feature name="NativeStorage">
    <param name="ios-package" value="NativeStorage"/>
  </feature>

  <feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection"/>
  </feature>

  <feature name="InAppPurchase">
    <param name="ios-package" value="InAppPurchase"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="WifiWizard2">
    <param name="ios-package" value="WifiWizard2"/>
  </feature>

  
  <preference name="ScrollEnabled" value="false" />
  <preference name="android-minSdkVersion" value="19" />
  <preference name="BackupWebStorage" value="none" />
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="FadeSplashScreenDuration" value="300" />
  <preference name="SplashShowOnlyFirstTime" value="false" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="0" />
  <preference name="ShowSplashScreen" value="false" />
  <preference name="WKWebViewOnly" value="true" />
  <preference name="UseSwiftLanguageVersion" value="5" />
</widget>